@import 'mixin';

.header {
    height: 80px;
    display: flex;
    color: #f0f6fc;
    background-color: #212528;

    &__inner {
        @include container;
        @include fco;
        height: 100%;
        justify-content: space-between;
    }

    .search {
        @include fco;
        color: #c9d1d9;
        background-color: #0d1117;
        padding: 15px 20px;
        border-radius: 9999px;

        i {
            margin-right: 10px;
        }

        > input {
            color: inherit;
            font-size: 16px;
        }
    }
}

.shop_name {    
    height: 48px;
    font-size: 32px;
    line-height: 32px;
    font-family: Fernando;
    margin: auto 0;
    text-shadow: #aaa 3px 3px 5px;
}

.user {
    @include fcc;
    height: 80px;
    position: relative;
    margin: 0 20px;

    &:hover &__nav {
        opacity: 1;
        z-index: 1;
        transform: scale(1);
        background-color: #181a1e;
    }

    > button {
        padding: 6px 15px;
        color: #fff;
        @include border($radius: 9999px);
        font-size: 16px;
        &:hover {
            background-color: rgba(255, 255, 255, .3);
        }
    }

    &__icon {
        @include fcc;
        @include border(#fff, 50%);
        width: 40px;
        height: 40px;
        margin: 0 20px;
    }

    &__nav {
        @include abs(75px, 15px);
        @include border($radius: 6px);
        min-width: 120px;
        opacity: 0;
        transform: scale(0);
        transform-origin: 85% 0;
        transition: all 0.5s;

        > a {
            width: 100%;
            padding: 10px 20px;
            display: block;
            transition: all 0.3s;

            &:hover {
                background-color: rgba(255, 255, 255, .3);
            }
        }

        &::before {
            content: '';
            @include abs(-10px, 15px);
            width: 0;
            height: 0;
            border-style: solid;
            border-color: transparent transparent #fff transparent;
            border-width: 0 10px 10px 10px;
        }
    }
}