@import "mixin";

.container {
    @include container;
}

.spotlight {
    width: 100%;
    height: 80vh;
    position: relative;
    margin: 15px 0;

    .list__img {
        @include abs(0, 86%, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .main__img {
        @include abs(0, 0, 0, 7.5%);
        border-radius: 8px;
        overflow: hidden;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        transition: all .3s;
    }
}

.list__img > div {
    height: 30%;
    cursor: pointer;

    .info {
        @include abs(unset, unset, 0, 50%);
        padding: 30px calc(50% + 60px);
        background: radial-gradient(rgba(11, 11, 11, 0.1), rgba(11, 11, 11, 0.05), rgba(11, 11, 11, 0));
    }

    &:not(.active) {
        img {
            opacity: 0.5;
        }

        .info {
            display: none;
        }
    }

    &.active img {
        @include border(#aaa, 8px, 3px);
    }

    &:hover img {
        opacity: 1;
        @include border(#aaa, 8px, 3px);
    }
}

.info {
    &__price {
        font-size: 20px;
        font-weight: bold;
        padding-left: 10px;
        text-shadow: #000 0 0 5px;
    }

    &__control {
        display: flex;

        > button {
            @include btn;
            margin: 20px 0;

            > i {
                margin-right: 5px;
            }

            + button {
                color: #fff;
                background-color: transparent;
                margin-left: 20px;
                text-shadow: #000 0 0 5px;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.2);
                }
            }
        }
    }
}

.section {
    width: 100%;
    margin: 40px 0;

    &__title {
        margin: 20px 0;
        text-align: center;
    }

    &__inner {
        @include border(#333, 8px);

        .list_game {
            padding: 15px;
            display: flex;
            gap: 15px;
        }
    }
}

.game {
    width: 285px;
    height: 380px;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: inline-block;

    &__thumbnail {
        width: 100%;
        height: 100%;
        transition: all .5s;
    }

    &__detail {
        @include abs(50%, 50%);
        @include fco {
            flex-direction: column;
            gap: 10px;
        };
        width: 100%;
        padding: 10px 20px;
        border-radius: 7px;
        transform: translate(50%, -50%);
        transition: all .5s;
        
        opacity: 0;
    }

    &__name {
        font-size: 18px;
        font-weight: 600;
        text-shadow: #000 2px 2px 10px;
    }

    &__price {
        text-align: center;
        font-weight: 500;
        font-size: 20px;
    }

    &__btn {
        @include btn {
            min-width: unset;
            width: 150px;
        };

        > i {
            margin-right: 5px;
        }
    }

    &:hover>&__thumbnail {
        filter: blur(10px);
    }

    &:hover>&__detail {
        opacity: 1;
    }
}